* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  line-height: 1.6;
}

ul {
  list-style-type: none !important;
  line-height: 40px !important;
}

code {
  font-size: 20px;
  line-height: 20px;
}

h2 {
  margin: 50px 0 !important;
  font-size: 52px !important;
  text-transform: inherit !important;
}
